<!DOCTYPE html>
<html>

<body>

  <div *ngIf="firstPage"
    [ngStyle]="{'display': 'flex', 'flex-direction': 'column', 'align-items': 'center', 'justify-content': 'center', 'height': '100vh'}">
    <button (click)="navBar()">Nav Bar Demo</button>
    <button (click)="ngStyle()">NgStyle Demo</button>
    <button (click)="twoWayBinding()">Two Way Binding Demo</button>
  </div>
  <div *ngIf="nav">
    <app-home></app-home>
  </div>

  <div *ngIf="style">
    <app-style-demo></app-style-demo>
  </div>

  <div *ngIf="twoWay">
    <app-two-way></app-two-way>
  </div>

</body>

</html>